<mat-sidenav-container class="container">
    <mat-sidenav #sidenav mode="side" [(opened)]="opened" (openedChange)="openedChangeHandler()">
        <mat-nav-list>

            <a mat-list-item [matMenuTriggerFor]="library" > 
                <mat-icon class="material-icons">local_library</mat-icon> library 
                <mat-icon class="material-icons">arrow_right</mat-icon>
            </a>
            <mat-menu #library="matMenu">
                <button mat-menu-item [routerLink]="'/library/search-catalogue'">Search Catalogue</button>
                <button mat-menu-item [matMenuTriggerFor]="libraryAdmin">Admin</button>
            </mat-menu>
            <mat-menu #libraryAdmin="matMenu">
                <button mat-menu-item [matMenuTriggerFor]="libraryAdminBooks">Books Management</button>
                <button mat-menu-item [matMenuTriggerFor]="libraryAdminAuthors">Book Authors</button>
                <button mat-menu-item [matMenuTriggerFor]="libraryAdminPublishers">Book Publisher</button>
                <button mat-menu-item [matMenuTriggerFor]="libraryAdminUsers">User Management</button>
            </mat-menu>
            <mat-menu #libraryAdminBooks="matMenu">
                <button mat-menu-item [routerLink]="'/library/books/view-book'">View Book Details</button>
                <button mat-menu-item [routerLink]="'/library/books/add-book'">Add books</button>
                <button mat-menu-item [routerLink]="'/library/books/edit-book'">Edit Existing Book</button>
            </mat-menu>
            <mat-menu #libraryAdminAuthors="matMenu">
                <button mat-menu-item [routerLink]="'/library/authors/view-authors'">View Author Details</button>
                <button mat-menu-item [routerLink]="'/library/authors/add-authors'">Add Book Author</button>
                <button mat-menu-item [routerLink]="'/library/authors/edit-author'">Edit Existing Author</button>
            </mat-menu>
            <mat-menu #libraryAdminPublishers="matMenu">
                <button mat-menu-item [routerLink]="'/library/publishers/view-publishers'">View Publisher Details</button>
                <button mat-menu-item [routerLink]="'/library/publishers/add-publishers'">Add Book Publisher</button>
                <button mat-menu-item [routerLink]="'/library/publishers/edit-publisher'">Edit Existing Publisher</button>
            </mat-menu>
            <mat-menu #libraryAdminUsers="matMenu">
                <button mat-menu-item [routerLink]="'/library/publishers/view-publishers'">View Users</button>
                <button mat-menu-item [routerLink]="'/library/publishers/add-publishers'">User Access Management</button>
            </mat-menu>
      
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <main>
            <ng-content></ng-content>
        </main>
    </mat-sidenav-content>
</mat-sidenav-container>    
